* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

.background {
  display: grid;

  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: repeat(2, auto);

  grid-template-areas:
    "area1 area2 area3"
    "area1 area2 area3";

  padding: 20px;
  row-gap: 5px;

  padding: 40px;
  background-color: pink;

  min-height: 100vh;
}

.tombolDzikir1,
.tombolDzikir2,
.tombolDzikir3 {
  min-height: 200px;

  background-color: aquamarine;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 10px;
  min-height: 250px;
  padding: 40px;
  row-gap: 10px;
}

.tombolDzikir1 {
  grid-area: area1;
}

.tombolDzikir2 {
  grid-area: area2;
}

.tombolDzikir3 {
  grid-area: area3;
}
